.home {
  @include flex(column, center, center);
  margin-top: 2rem;
  text-align: center;
  h1 {
    position: relative;
    margin-bottom: 2rem;
    text-shadow: $ts2;
    &:after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 35%;
      border-bottom: 3px solid rgb(3, 165, 230);
    }
  }
}
